StyleCop.Cache
*.exe
*.obj
*.suo
*.user
*.log
project/NpmApiSample/bin/
project/NpmApiSample/obj/
project/NpmUnitTests/bin/
project/NpmUnitTests/obj/
project/nodenpm/bin/
project/nodenpm/obj/
project/TestResults/
testimpactdata.sdf
